body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.container-backgroung {
    position: relative;
}

.rectangle {
    position: absolute;
    background-image: url('../files/img/rectangle-bg.png');
    background-repeat: no-repeat;
    background-clip: padding-box;
    width: 801px;
    height: 753px;
    right: 0px;
    top: -98px;
    opacity: 0.4;
    z-index: -3;
}

.dotted {
    position: absolute;
    background-image: url("../files/img/dots1.png");
    background-repeat: no-repeat;
    width: 209px;
    height: 285px;
    right: 0px;
    top: 88px;
    z-index: -2;
}

.offer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.offer-title {

    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;
    align-items: center;
    text-align: center;
    letter-spacing: -3px;
    color: #2D3436;
    text-shadow: 0px 4px 0px #FFFFFF;
}

.offer-title span {
    position: relative;
    color: #D63031;
}

.offer-title .block-fine {
    position: absolute;
    width: 191px;
    height: 51px;
    left: -7px;
    top: 57px;
    background: #55EFC4;
    border-radius: 999px;
    z-index: -1;
}

.offer-subtitle {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -1px;
    color: #2D3436;
}




.grid-text {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    color: #2D3436;
}


.grid-container {
    padding-top: 64px;
    display: grid;
    grid-template-columns: 0.9fr 1fr 0.75fr 0.67fr 0.65fr;
    grid-template-rows: 49px 22px 249px 173px 82px 100px;
    gap: 30px 30px;
}

.text1 {
    grid-area: 1 / 1 / 2 / 2;
}

.card1 {
    grid-area: 3 / 1 / 5 / 2;
    background-image: url('../files/img/card1.jpg');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: bottom;

}

.card2 {
    grid-area: 1 / 2 / 4 / 4;
    background-image: url('../files/img/card2.jpg');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: top center;

}

.learn-more {
    grid-area: 5 / 1 / 6 / 2;
    width: 270px;
    height: 82px;

    background: #6C5CE7;
    border-radius: 999px;
}

.text2 {
    grid-area: 2 / 4 / 3 / 6;
}

.card5 {
    grid-area: 3 / 4 / 4 / 5;
    background-image: url('../files/img/card5.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    border-radius: 20px;
}

.card6 {
    grid-area: 3 / 5 / 4 / 6;
    background-image: url('../files/img/card6.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    border-radius: 20px;
}

.card3 {
    grid-area: 4 / 2 / 6 / 3;
    background-image: url('../files/img/card3.png');
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 20px;

}

.card4 {
    grid-area: 4 / 3 / 7 / 5;
    background-image: url('../files/img/card4.png');
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 20px;
    height: 356px;
}

.card7 {
    grid-area: 4 / 5 / 6 / 6;
    background-image: url('../files/img/card7.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    border-radius: 20px;
}