body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

h1,
h2 {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.rectangle {
    position: fixed;
    background-image: url('../files/img/rectangle-bg.png');
    background-repeat: no-repeat;
    width: 1376px;
    height: 768px;
    right: -575px;
    top: -98px;
    opacity: 0.4;
    z-index: -3;
}

.dotted {
    position: fixed;
    background-image: url("../files/img/dots1.png");
    background-repeat: no-repeat;
    width: 209px;
    height: 285px;
    right: 0px;
    top: 88px;
    z-index: -2;
}

.offer {
    padding-top: 80px;
}

.offer-title {

    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;
    align-items: center;
    text-align: center;
    letter-spacing: -3px;
    color: #2D3436;
    text-shadow: 0px 4px 0px #FFFFFF;
}

.offer-title span {
    position: relative;
    color: #D63031;
}

.offer-title .block-fine {
    position: absolute;
    width: 191px;
    height: 51px;
    left: -7px;
    top: 57px;
    background: #55EFC4;
    border-radius: 999px;
    z-index: -1;
}

.offer-subtitle {
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 77px;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -1px;
    color: #2D3436;
}